<ChatSendBox @ref=chatSendBox
             @bind-Value=@message
             Label="Send"
             Placeholder="Input message"
             OnClick="OnClick"
             IsDisabled="false"/>
<h3>@message</h3>

